{#<nav class="navbar navbar-inverse navbar-fixed-top">#}
    {#<div class="container">#}
        {#<div class="navbar-header">#}
            {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"#}
                    {#aria-expanded="false" aria-controls="navbar">#}
                {#<span class="sr-only">Toggle navigation</span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
                {#<span class="icon-bar"></span>#}
            {#</button>#}
            {#<a class="navbar-brand" href="#">Лендо Админка</a>#}
        {#</div>#}

        {#<ul class="nav navbar-nav">#}
            {#<li {{ classActive(route('admin.index')) }}>#}
                {#<a href="{{ route('admin.index') }}">Главная</a>#}
            {#</li>#}
            {#<li {{ classActive(route('sites.index')) }}>#}
                {#<a href="{{ route('sites.index') }}">Сайты</a>#}
            {#</li>#}
        {#</ul>#}


        {#<ul class="nav navbar-nav navbar-right">#}
            {#<li><a href="../navbar/">Default</a></li>#}
            {#<li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>#}
            {#<li><a href="../navbar-fixed-top/">Fixed top</a></li>#}

        {#</ul>#}
    {#</div>#}
{#</nav>#}



<div class="navbar nav_title" style="border: 0;">

    <a href="index.html" class="site_title">
        <i>
        <img src="/admin/assets/images/logo.png" width="40px" height="auto"/></i>
        <span>"Мои окна"</span></a>
</div>

<div class="clearfix"></div>

<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="https://visualpharm.com/assets/381/Admin-595b40b65ba036ed117d3b23.svg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Привет,</span>
        <h2><a href="{{ route('admin.profile') }}">{{ auth_user().name }}</a></h2>
    </div>
</div>
<!-- /menu profile quick info -->

<br />
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Основное</h3>
        <ul class="nav side-menu">
            <li {{ classActive(route('admin.index')) }}>
                <a href="{{ route('admin.index') }}">
                    <i class="fa fa-home"></i> Главная
                </a>
            </li>
            <li {{ classActive(route('sites.index')) }}>
                <a href="{{ route('sites.index') }}">
                    <i class="fa fa-sitemap" aria-hidden="true"></i> Сайты
                </a>
            </li>


        </ul>
    </div>
    {#<div class="menu_section">#}
        {#<h3>Действия</h3>#}
        {#<ul class="nav side-menu">#}
           {##}
        {#</ul>#}
    {#</div>#}

</div>
<!-- /sidebar menu -->

